<!DOCTYPE html>
<html>
    <head>
        <title>Unit of Work in Express.js</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1>Here are some great flicks!</h1>
        <p>
            <ul>
                <% data.forEach(movie => { %>
                    <li><%= movie.title %></li>
                <% }); %>
            </ul>
        </p>
    </body>
</html>
